In [1]:
import pandas as pd
import numpy as np

In [2]:
url="https://api.github.com/repos/pandas-dev/pandas/issues"
pd.read_json(url)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57820,2181624666,PR_kwDOAA0YD85pYK8w,57820,CLN: enforce deprecation of `interpolate` with...,...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,xref #53638\r\n\r\nenforced deprecation of `in...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57819,2180810524,PR_kwDOAA0YD85pVYih,57819,CLN: Remove unused private code in sas module,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57818,2180803829,PR_kwDOAA0YD85pVXHk,57818,CLN: Remove unused private attributes in stata...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,According to https://github.com/pandas-dev/pan...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57817,2180589157,PR_kwDOAA0YD85pUo9E,57817,DOC: Updated the returns for DataFrame.any/all...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,#57088 \r\nupdated documentation for reflect t...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57816,2180187600,PR_kwDOAA0YD85pTQqb,57816,Fix some typing errors,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,None,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57815,2180152456,PR_kwDOAA0YD85pTI0H,57815,CLN: remove deprecated classes 'NumericBlock' ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,xref #52817\r\n\r\nremoved deprecated classes ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57813,2180108115,PR_kwDOAA0YD85pS-7X,57813,CI: Fail tests on all builds for FutureWarning...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,I don't think we should necessarily limit this...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57812,2179938698,PR_kwDOAA0YD85pSZSj,57812,PERF: Avoid np.divmod in RangeIndex._shallow_copy,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,xref https://github.com/pandas-dev/pandas/pull...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57811,2179797779,PR_kwDOAA0YD85pR46a,57811,BUG: improve pd.io.json_normalize,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,GH #57810\r\nhttps://github.com/pandas-dev/pan...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57810,2179589085,I_kwDOAA0YD86B6ePd,57810,BUG: pd.json_normalize improvement,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57800,2177894665,PR_kwDOAA0YD85pLXiU,57800,BUG: #57775 Fix groupby apply in case func ret...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #57775\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57798,2177827298,I_kwDOAA0YD86BzwHi,57798,ENH: DataFrame argument `columns` should accep...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57796,2177738191,PR_kwDOAA0YD85pK4Gc,57796,Fix issue with Tempita recompilation,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,xref https://github.com/mesonbuild/meson-pytho...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57794,2177595898,I_kwDOAA0YD86By3n6,57794,DEPR: rename `startingMonth` to `starting_mont...,...,NaT,MEMBER,NaN,NaN,NaN,"Renamings should be done with care, but this o...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57792,2177448416,I_kwDOAA0YD86ByTng,57792,BUG: read_csv inconsistent behavior,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57790,2177354563,PR_kwDOAA0YD85pJsZG,57790,Updated the pandas.DatetimeIndex.day_name and ...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- closes #57111 partially\r\n- All [code chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57788,2177028218,PR_kwDOAA0YD85pIpxe,57788,API: Revert 57042 - MultiIndex.names|codes|lev...,...,NaT,MEMBER,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57786,2176910155,PR_kwDOAA0YD85pIQm1,57786,PERF: Allow ensure_index_from_sequence to retu...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Discovered in https://github.com/pandas-dev/pa...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57781,2176500721,I_kwDOAA0YD86BusPx,57781,BUG: timedelta.round fails to round to nearest...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57777,2175400926,PR_kwDOAA0YD85pDEsx,57777,Clarify doc for converting timestamps to epoch,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #56343 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57775,2175056455,I_kwDOAA0YD86BpLpH,57775,BUG: groupby.apply when func always returns No...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57773,2174962145,I_kwDOAA0YD86Bo0nh,57773,BUG: to_parquet on column containing StringArr...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57771,2174815824,PR_kwDOAA0YD85pBHBH,57771,DOC: Fix PR01 and SA01 errors in pandas.ExcelFile,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] xref #57438 \r\n- [x] xref #57417 \r\n- ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57770,2174809670,PR_kwDOAA0YD85pBFot,57770,PERF: RangeIndex.__getitem__ with integers ret...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Builds on #57752\r\n\r\nDiscovered in #57441,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57765,2174333453,I_kwDOAA0YD86BmbIN,57765,BUG: Setting a numpy array as a column in Pand...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57764,2173990499,PR_kwDOAA0YD85o-RR0,57764,BUG: PyArrow dtypes were not supported in the ...,...,NaT,MEMBER,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,fixes a few things:\r\n\r\n- closes #57762\r\n...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57762,2173463666,I_kwDOAA0YD86BjGxy,57762,BUG: interchange buffer show bytemask (instead...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57761,2173441344,I_kwDOAA0YD86BjBVA,57761,BUG: validity of interchange column is incorre...,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57760,2173431071,PR_kwDOAA0YD85o8VOe,57760,CLN: enforce deprecation of the `method` keywo...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,xref #53496\r\n\r\nenforced deprecation of the...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57758,2173293118,PR_kwDOAA0YD85o73Rg,57758,BUG: DataFrame Interchange Protocol errors on ...,...,NaT,MEMBER,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [3]:
import requests
data=requests.get(url)

In [4]:
data=data.json()

In [5]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57820',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57820/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57820/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57820/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57820',
  'id': 2181624666,
  'node_id': 'PR_kwDOAA0YD85pYK8w',
  'number': 57820,
  'title': 'CLN: enforce deprecation of `interpolate` with object dtype',
  'user': {'login': 'natmokval',
   'id': 91160475,
   'node_id': 'MDQ6VXNlcjkxMTYwNDc1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/91160475?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/natmokval',
   'html_url': 'https://github.com/natmokval',
   'followers_url': 'https://api.github.com/users/natmokval/followers',
   'following_url': 'https://api.github.com/users/natmokval/following{/other_user}',
   'gists_url': 'https://api.github.com/users/natmokval/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/natmokval/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/natmokval/subscriptions',
   'organizations_url': 'https://api.github.com/users/natmokval/orgs',
   'repos_url': 'https://api.github.com/users/natmokval/repos',
   'events_url': 'https://api.github.com/users/natmokval/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/natmokval/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-03-12T13:27:42Z',
  'updated_at': '2024-03-12T13:37:00Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': True,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57820',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57820',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57820.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57820.patch',
   'merged_at': None},
  'body': 'xref #53638\r\n\r\nenforced deprecation of `interpolate` with object dtype\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57820/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57820/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57819',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57819/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57819/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57819/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57819',
  'id': 2180810524,
  'node_id': 'PR_kwDOAA0YD85pVYih',
  'number': 57819,
  'title': 'CLN: Remove unused private code in sas module',
  'user': {'login': 'tqa236',
   'id': 25203655,
   'node_id': 'MDQ6VXNlcjI1MjAzNjU1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/25203655?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/tqa236',
   'html_url': 'https://github.com/tqa236',
   'followers_url': 'https://api.github.com/users/tqa236/followers',
   'following_url': 'https://api.github.com/users/tqa236/following{/other_user}',
   'gists_url': 'https://api.github.com/users/tqa236/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/tqa236/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/tqa236/subscriptions',
   'organizations_url': 'https://api.github.com/users/tqa236/orgs',
   'repos_url': 'https://api.github.com/users/tqa236/repos',
   'events_url': 'https://api.github.com/users/tqa236/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/tqa236/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 211029535,
    'node_id': 'MDU6TGFiZWwyMTEwMjk1MzU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Clean',
    'name': 'Clean',
    'color': '207de5',
    'default': False,
    'description': None},
   {'id': 258745163,
    'node_id': 'MDU6TGFiZWwyNTg3NDUxNjM=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20SAS',
    'name': 'IO SAS',
    'color': '5319e7',
    'default': False,
    'description': 'SAS: read_sas'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-03-12T06:09:12Z',
  'updated_at': '2024-03-12T12:02:39Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57819',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57819',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57819.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57819.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [x] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57819/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57819/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57818',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57818/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57818/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57818/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57818',
  'id': 2180803829,
  'node_id': 'PR_kwDOAA0YD85pVXHk',
  'number': 57818,
  'title': 'CLN: Remove unused private attributes in stata module',
  'user': {'login': 'tqa236',
   'id': 25203655,
   'node_id': 'MDQ6VXNlcjI1MjAzNjU1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/25203655?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/tqa236',
   'html_url': 'https://github.com/tqa236',
   'followers_url': 'https://api.github.com/users/tqa236/followers',
   'following_url': 'https://api.github.com/users/tqa236/following{/other_user}',
   'gists_url': 'https://api.github.com/users/tqa236/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/tqa236/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/tqa236/subscriptions',
   'organizations_url': 'https://api.github.com/users/tqa236/orgs',
   'repos_url': 'https://api.github.com/users/tqa236/repos',
   'events_url': 'https://api.github.com/users/tqa236/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/tqa236/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 104865385,
    'node_id': 'MDU6TGFiZWwxMDQ4NjUzODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20Stata',
    'name': 'IO Stata',
    'color': '5319e7',
    'default': False,
    'description': 'read_stata, to_stata'},
   {'id': 211029535,
    'node_id': 'MDU6TGFiZWwyMTEwMjk1MzU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Clean',
    'name': 'Clean',
    'color': '207de5',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-03-12T06:03:32Z',
  'updated_at': '2024-03-12T11:50:25Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57818',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57818',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57818.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57818.patch',
   'merged_at': None},
  'body': 'According to https://github.com/pandas-dev/pandas/pull/49228, all of the internal state of the reader object is now `_private`, so I try to remove the unused one detected by `vulture`',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57818/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57818/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57817',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57817/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57817/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57817/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57817',
  'id': 2180589157,
  'node_id': 'PR_kwDOAA0YD85pUo9E',
  'number': 57817,
  'title': 'DOC: Updated the returns for DataFrame.any/all to return either a Series or scalar',
  'user': {'login': 'sammig6i',
   'id': 115059655,
   'node_id': 'U_kgDOBturxw',
   'avatar_url': 'https://avatars.githubusercontent.com/u/115059655?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/sammig6i',
   'html_url': 'https://github.com/sammig6i',
   'followers_url': 'https://api.github.com/users/sammig6i/followers',
   'following_url': 'https://api.github.com/users/sammig6i/following{/other_user}',
   'gists_url': 'https://api.github.com/users/sammig6i/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/sammig6i/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/sammig6i/subscriptions',
   'organizations_url': 'https://api.github.com/users/sammig6i/orgs',
   'repos_url': 'https://api.github.com/users/sammig6i/repos',
   'events_url': 'https://api.github.com/users/sammig6i/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/sammig6i/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2024-03-12T02:21:46Z',
  'updated_at': '2024-03-12T12:39:32Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57817',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57817',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57817.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57817.patch',
   'merged_at': None},
  'body': '#57088 \r\nupdated documentation for reflect the return types for Dataframe.any/all calls.\r\n\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57817/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57817/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57816',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57816/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57816/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57816/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57816',
  'id': 2180187600,
  'node_id': 'PR_kwDOAA0YD85pTQqb',
  'number': 57816,
  'title': 'Fix some typing errors',
  'user': {'login': 'tqa236',
   'id': 25203655,
   'node_id': 'MDQ6VXNlcjI1MjAzNjU1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/25203655?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/tqa236',
   'html_url': 'https://github.com/tqa236',
   'followers_url': 'https://api.github.com/users/tqa236/followers',
   'following_url': 'https://api.github.com/users/tqa236/following{/other_user}',
   'gists_url': 'https://api.github.com/users/tqa236/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/tqa236/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/tqa236/subscriptions',
   'organizations_url': 'https://api.github.com/users/tqa236/orgs',
   'repos_url': 'https://api.github.com/users/tqa236/repos',
   'events_url': 'https://api.github.com/users/tqa236/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/tqa236/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 1280988427,
    'node_id': 'MDU6TGFiZWwxMjgwOTg4NDI3',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Typing',
    'name': 'Typing',
    'color': 'ea91a4',
    'default': False,
    'description': 'type annotations, mypy/pyright type checking'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2024-03-11T20:42:08Z',
  'updated_at': '2024-03-12T14:32:09Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57816',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57816',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57816.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57816.patch',
   'merged_at': None},
  'body': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57816/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57816/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57815',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57815/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57815/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57815/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57815',
  'id': 2180152456,
  'node_id': 'PR_kwDOAA0YD85pTI0H',
  'number': 57815,
  'title': "CLN: remove deprecated classes 'NumericBlock' and 'ObjectBlock'",
  'user': {'login': 'natmokval',
   'id': 91160475,
   'node_id': 'MDQ6VXNlcjkxMTYwNDc1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/91160475?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/natmokval',
   'html_url': 'https://github.com/natmokval',
   'followers_url': 'https://api.github.com/users/natmokval/followers',
   'following_url': 'https://api.github.com/users/natmokval/following{/other_user}',
   'gists_url': 'https://api.github.com/users/natmokval/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/natmokval/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/natmokval/subscriptions',
   'organizations_url': 'https://api.github.com/users/natmokval/orgs',
   'repos_url': 'https://api.github.com/users/natmokval/repos',
   'events_url': 'https://api.github.com/users/natmokval/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/natmokval/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 211029535,
    'node_id': 'MDU6TGFiZWwyMTEwMjk1MzU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Clean',
    'name': 'Clean',
    'color': '207de5',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-03-11T20:24:05Z',
  'updated_at': '2024-03-12T09:46:09Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57815',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57815',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57815.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57815.patch',
   'merged_at': None},
  'body': 'xref #52817\r\n\r\nremoved deprecated classes `NumericBlock` and `ObjectBlock`\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57815/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57815/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57813',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57813/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57813/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57813/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57813',
  'id': 2180108115,
  'node_id': 'PR_kwDOAA0YD85pS-7X',
  'number': 57813,
  'title': 'CI: Fail tests on all builds for FutureWarning/DeprecationWarning from numpy or pyarrow',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',

In [6]:
df=pd.DataFrame(data,columns=['labels_url'])

In [7]:
df

                                           labels_url
0   https://api.github.com/repos/pandas-dev/pandas...
1   https://api.github.com/repos/pandas-dev/pandas...
2   https://api.github.com/repos/pandas-dev/pandas...
3   https://api.github.com/repos/pandas-dev/pandas...
4   https://api.github.com/repos/pandas-dev/pandas...
5   https://api.github.com/repos/pandas-dev/pandas...
6   https://api.github.com/repos/pandas-dev/pandas...
7   https://api.github.com/repos/pandas-dev/pandas...
8   https://api.github.com/repos/pandas-dev/pandas...
9   https://api.github.com/repos/pandas-dev/pandas...
10  https://api.github.com/repos/pandas-dev/pandas...
11  https://api.github.com/repos/pandas-dev/pandas...
12  https://api.github.com/repos/pandas-dev/pandas...
13  https://api.github.com/repos/pandas-dev/pandas...
14  https://api.github.com/repos/pandas-dev/pandas...
15  https://api.github.com/repos/pandas-dev/pandas...
16  https://api.github.com/repos/pandas-dev/pandas...
17  https://api.github.com/repos/pandas-dev/pandas...
18  https://api.github.com/repos/pandas-dev/pandas...
19  https://api.github.com/repos/pandas-dev/pandas...
20  https://api.github.com/repos/pandas-dev/pandas...
21  https://api.github.com/repos/pandas-dev/pandas...
22  https://api.github.com/repos/pandas-dev/pandas...
23  https://api.github.com/repos/pandas-dev/pandas...
24  https://api.github.com/repos/pandas-dev/pandas...
25  https://api.github.com/repos/pandas-dev/pandas...
26  https://api.github.com/repos/pandas-dev/pandas...
27  https://api.github.com/repos/pandas-dev/pandas...
28  https://api.github.com/repos/pandas-dev/pandas...
29  https://api.github.com/repos/pandas-dev/pandas...

In [8]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [9]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [12]:
df.sample(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
418,419,0,2,"Matthews, Mr. William John",male,30.0,0,0,28228,13.0,NaN,S

In [13]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [16]:
df.shape

(891, 12)

In [17]:
df.duplicated().sum()

0

In [18]:
df.shape

(891, 12)

In [19]:
df[df.dtypes[df.dtypes=="object"].index]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [20]:
df[df.columns[df.dtypes=="object"]].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [21]:
df[df.dtypes[df.dtypes=="int64"].index].describe()

       PassengerId    Survived      Pclass       SibSp       Parch
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642    0.523008    0.381594
std     257.353842    0.486592    0.836071    1.102743    0.806057
min       1.000000    0.000000    1.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000    0.000000    0.000000
50%     446.000000    0.000000    3.000000    0.000000    0.000000
75%     668.500000    1.000000    3.000000    1.000000    0.000000
max     891.000000    1.000000    3.000000    8.000000    6.000000

In [22]:
df.describe(include="object")

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [23]:
df.describe(include="all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [24]:
df.astype("object").describe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891,891,891,891,714.0,891,891,891,891.00,204,889
unique,891,2,3,891,2,88.0,7,7,681,248.00,147,3
top,1,0,3,"Braund, Mr. Owen Harris",male,24.0,0,0,347082,8.05,B96 B98,S
freq,1,549,491,1,577,30.0,608,678,7,43.00,4,644

In [25]:
df["vamsi"]=123

In [26]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,vamsi
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,123
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,123
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,123
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,123
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,123
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,123
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,123
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,123

In [27]:
df[1::20]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,vamsi
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,123
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,123
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,123
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN,123
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.0,0,0,345779,9.5000,NaN,S,123
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S,123
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S,123
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.7500,NaN,S,123
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.7500,NaN,S,123
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C,123
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S,123
221,222,0,2,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0000,NaN,S,123
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,123
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.0,4,2,347077,31.3875,NaN,S,123
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.0,0,0,347464,7.8542,NaN,S,123
301,302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q,123
321,322,0,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,NaN,S,123
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.0000,C23 C25 C27,S,123
361,362,0,2,"del Carlo, Mr. Sebastiano",male,29.0,1,0,SC/PARIS 2167,27.7208,NaN,C,123
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C,123
401,402,0,3,"Adams, Mr. John",male,26.0,0,0,341826,8.0500,NaN,S,123
421,422,0,3,"Charters, Mr. David",male,21.0,0,0,A/5. 13032,7.7333,NaN,Q,123
441,442,0,3,"Hampe, Mr. Leon",male,20.0,0,0,345769,9.5000,NaN,S,123
461,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.0500,NaN,S,123
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S,123
501,502,0,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.7500,NaN,Q,123
521,522,0,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,NaN,S,123
541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.0,4,2,347082,31.2750,NaN,S,123
561,562,0,3,"Sivic, Mr. Husein",male,40.0,0,0,349251,7.8958,NaN,S,123
581,582,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.0,1,1,17421,110.8833,C68,C,123
601,602,0,3,"Slabenoff, Mr. Petco",male,NaN,0,0,349214,7.8958,NaN,S,123
621,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.0,1,0,11753,52.5542,D19,S,123
641,642,1,1,"Sagesser, Mlle. Emma",female,24.0,0,0,PC 17477,69.3000,B35,C,123
661,662,0,3,"Badt, Mr. Mohamed",male,40.0,0,0,2623,7.2250,NaN,C,123
681,682,1,1,"Hassab, Mr. Hammad",male,27.0,0,0,PC 17572,76.7292,D49,C,123
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.0,0,0,PC 17475,26.2875,E24,S,123
721,722,0,3,"Jensen, Mr. Svend Lauritz",male,17.0,1,0,350048,7.0542,NaN,S,123
741,742,0,1,"Cavendish, Mr. Tyrell William",male,36.0,1,0,19877,78.8500,C46,S,123
761,762,0,3,"Nirva, Mr. Iisakki Antino Aijo",male,41.0,0,0,SOTON/O2 3101272,7.1250,NaN,S,123
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0,1,0,17474,57.0000,B20,S,123
801,802,1,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.0,1,1,C.A. 31921,26.2500,NaN,S,123
821,822,1,3,"Lulic, Mr. Nikola",male,27.0,0,0,315098,8.6625,NaN,S,123
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.0,0,0,S.O./P.P. 3,10.5000,NaN,S,123
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,123
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,123

In [28]:
pd.Categorical(df["Cabin"])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [29]:
df["Cabin"].unique

<bound method Series.unique of 0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object>

In [30]:
df["Cabin"].nunique()

147

In [31]:
df["Cabin"].value_counts(normalize=True)

B96 B98        0.019608
G6             0.019608
C23 C25 C27    0.019608
C22 C26        0.014706
F33            0.014706
                 ...
E34            0.004902
C7             0.004902
C54            0.004902
E36            0.004902
C148           0.004902
Name: Cabin, Length: 147, dtype: float64

In [32]:
df.iloc[1:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,vamsi
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,123
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,123
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,123
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,123
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,123
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,123
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,123
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,123

In [33]:
df.loc[1:10,["Pclass","Name","Sex"]]

    Pclass                                               Name     Sex
1        1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2        3                             Heikkinen, Miss. Laina  female
3        1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4        3                           Allen, Mr. William Henry    male
5        3                                   Moran, Mr. James    male
6        1                            McCarthy, Mr. Timothy J    male
7        3                     Palsson, Master. Gosta Leonard    male
8        3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
9        2                Nasser, Mrs. Nicholas (Adele Achem)  female
10       3                    Sandstrom, Miss. Marguerite Rut  female

In [34]:
df.loc[[1,2,3],["Name","Sex","Pclass"]]

                                                Name     Sex  Pclass
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female       1
2                             Heikkinen, Miss. Laina  female       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female       1

In [35]:
data={"col1":[1,2,3],"col2":[2,3,4]}
pd.DataFrame(data,index=["vis","hi","hello"])

       col1  col2
vis       1     2
hi        2     3
hello     3     4

In [36]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,vamsi
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,123
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,123
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,123
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,123
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,123
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,123
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,123
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,123

In [37]:
df.drop("Pclass",axis=1)

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,vamsi
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,123
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,123
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,123
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,123
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,123
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,123
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,123
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,123
890,891,0,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,123

In [38]:
df.drop("vamsi",axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [39]:
df.reset_index(drop=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,vamsi
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,123
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,123
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,123
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,123
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,123
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,123
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,123
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,123

In [40]:
df1=pd.read_csv("taxonomy.csv.xls")

In [41]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [42]:
df1.isnull().sum()

taxonomy_id     0
name            0
parent_id      11
parent_name    11
dtype: int64

In [43]:
df1.shape

(290, 4)

In [44]:
df1.dropna()

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5     101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [45]:
df1.shape

(290, 4)

In [46]:
df1.duplicated().sum()

0

In [47]:
df1.dropna(axis=0)

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5     101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [48]:
df1.shape

(290, 4)

In [49]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [50]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [64]:
# df1.fillna(,axis=0)

In [65]:
df.groupby("Survived").mean()

C:\Users\kondaparthy vishal\AppData\Local\Temp\ipykernel_21356\2030998582.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("Survived").mean()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,vamsi
Survived,,,,,,,
0,447.016393,2.531876,30.626179,0.553734,0.329690,22.117887,123.0
1,444.368421,1.950292,28.343690,0.473684,0.464912,48.395408,123.0

In [66]:
df.groupby("Sex").max()

C:\Users\kondaparthy vishal\AppData\Local\Temp\ipykernel_21356\658703995.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df.groupby("Sex").max()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,vamsi
Sex,,,,,,,,,,
female,889,1,3,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",63.0,8,6,WE/P 5735,512.3292,123
male,891,1,3,"van Melkebeke, Mr. Philemon",80.0,8,5,WE/P 5735,512.3292,123

In [67]:
df.groupby("Pclass").min()

C:\Users\kondaparthy vishal\AppData\Local\Temp\ipykernel_21356\1198676043.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  df.groupby("Pclass").min()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,vamsi
Pclass,,,,,,,,,,
1,2,0,"Allen, Miss. Elisabeth Walton",female,0.92,0,0,110152,0.0,123
2,10,0,"Abelson, Mr. Samuel",female,0.67,0,0,11668,0.0,123
3,1,0,"Abbing, Mr. Anthony",female,0.42,0,0,12460,0.0,123

In [68]:
df.groupby("Sex").describe()

       PassengerId                                                             \
             count        mean         std  min     25%    50%     75%    max
Sex
female       314.0  431.028662  256.846324  2.0  231.75  414.5  641.25  889.0
male         577.0  454.147314  257.486139  1.0  222.00  464.0  680.00  891.0

       Survived            ...   Fare            vamsi                     \
          count      mean  ...    75%       max  count   mean  std    min
Sex                        ...
female    314.0  0.742038  ...  55.00  512.3292  314.0  123.0  0.0  123.0
male      577.0  0.188908  ...  26.55  512.3292  577.0  123.0  0.0  123.0


          25%    50%    75%    max
Sex
female  123.0  123.0  123.0  123.0
male    123.0  123.0  123.0  123.0

[2 rows x 64 columns]

In [69]:
df.groupby("Survived").aggregate([min,"max","count",np.var])

C:\Users\kondaparthy vishal\AppData\Local\Temp\ipykernel_21356\1964939112.py:1: FutureWarning: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby("Survived").aggregate([min,"max","count",np.var])

         PassengerId                          Pclass                      \
                 min  max count           var    min max count       var
Survived
0                  1  891   549  67933.454110      1   3   549  0.541409
1                  2  890   342  63684.984102      1   3   342  0.745322

           Age        ... Parch           Fare                               \
           min   max  ... count       var  min       max count          var
Survived              ...
0         1.00  74.0  ...   549  0.677602  0.0  263.0000   549   985.219509
1         0.42  80.0  ...   342  0.595539  0.0  512.3292   342  4435.160158

         vamsi
           min  max count  var
Survived
0          123  123   549  0.0
1          123  123   342  0.0

[2 rows x 28 columns]

In [72]:
df.groupby(["Sex","Pclass"])["Survived"].sum().to_frame()

               Survived
Sex    Pclass
female 1             91
       2             70
       3             72
male   1             45
       2             17
       3             47

In [73]:
df.groupby(["Sex","Pclass"])["Survived"].sum().unstack()

Pclass   1   2   3
Sex
female  91  70  72
male    45  17  47